.main-picture::after {
    font-family: FontAwesome;
    content: "\f063";
    text-align: center;
    display: block;
    font-size: 50px;
    padding-bottom: 30px;
}
.main-picture img {
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-picture h1 {
    margin: 50px;
}
.main-picture .first-h1 {
    /*display: none;*/
}
.main-picture .second-h1 {
    /*visibility: hidden;*/
}
.about-me {
    padding-top: 50px;
}
.about-me .text-info {
    font-size: 20px;
    padding: 40px;
    line-height: 40px;
}
.about-me .text-info span {
    display: inline-block;
    width: 170px;
    height: 40px;
    border: solid 1px red;
}
.about-me .table-me {
    display: table;
    background-color: goldenrod;
    border: #000 dotted 1px;
    width: 100%;
}
.about-me .row {
    display: table-row;
}
.about-me .cell {
    display: table-cell;
    padding: 30px;
}
.about-me table {
    margin-top: 30px;
}